#error
  %h1 403 Forbidden
  %p
    - case @exception
    - when ApplicationController::IpAddressRejected
      -# Viewからコントローラー内のクラスを参照する時はApplicationControllerから記述しないといけない
      = "あなたのIPアドレス（#{request.ip}）からは利用できません。"
    - else
      = '指定されたページを閲覧する権限がありません。'
